<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../node_modules/react/umd/react.development.js"></script>
  <script src="../node_modules/react-dom/umd/react-dom.development.js"></script>
  <script src="../node_modules/babel-standalone/babel.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script type="text/babel">
    // 父子组件
    function ChildA () {
      return (<p>孩子组件一</p>);
    }
    function ChildB () {
      return (<p>孩子组件二</p>);
    }
    function ChildC () {
      return (<p>孩子组件三</p>);
    }
    function Parent () {
      return (
        <div>
          <ChildA/>
          <ChildB/>
          <ChildC/>  
        </div>
      );
    }
    // 两种调用方式
    ReactDOM.render(<Parent/>,document.getElementById('app'));
    // ReactDOM.render(Parent(),document.getElementById('app'));
  </script>
</body>
</html>